name: CI
on:
  schedule:
    - cron: "30 18 * * *"

jobs:
  check:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Should build?
        id: should_build
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Votre logique de vérification de la nécessité de construire
          # Par exemple, vérifiez les modifications dans build.md

      - name: Clear older runs
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Commandes pour nettoyer les anciennes exécutions

  build:
    permissions: write-all
    needs: check
    uses: ./.github/workflows/build.yml
